# Week 3 project : Exploring & discovering Toronto's neighborhoods

## Scraping & preparing Data from Wikipedia

In [53]:
import pandas as pd
import numpy as np

In [54]:
my_columns=['PostalCode', 'Borough', 'Neighbourhood']

In [57]:
df_w=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [60]:
df=df_w[0]

In [62]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [63]:
df.columns=my_columns

In [64]:
df.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [65]:
df=df[df['Borough']!='Not assigned']

In [66]:
df.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [67]:
df.loc[df['Neighbourhood']=='Not assigned']

  PostalCode       Borough Neighbourhood
9        M9A  Queen's Park  Not assigned

In [68]:
# rows cells with borough but without neighborhoods
df.loc[df['Neighbourhood']=='Not assigned','Neighbourhood']="Queen's Park"

C:\Users\hassa\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
df.loc[9,:]

PostalCode                M9A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 9, dtype: object

#### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [70]:
df.reset_index(drop=True,inplace=True)

In [71]:
df

    PostalCode           Borough             Neighbourhood
0          M3A        North York                 Parkwoods
1          M4A        North York          Victoria Village
2          M5A  Downtown Toronto              Harbourfront
3          M6A        North York          Lawrence Heights
4          M6A        North York            Lawrence Manor
..         ...               ...                       ...
205        M8Z         Etobicoke  Kingsway Park South West
206        M8Z         Etobicoke                 Mimico NW
207        M8Z         Etobicoke        The Queensway West
208        M8Z         Etobicoke     Royal York South West
209        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [72]:
df.groupby('Borough').count()

                  PostalCode  Neighbourhood
Borough
Central Toronto           17             17
Downtown Toronto          37             37
East Toronto               7              7
East York                  6              6
Etobicoke                 44             44
Mississauga                1              1
North York                38             38
Queen's Park               1              1
Scarborough               37             37
West Toronto              13             13
York                       9              9

In [89]:
df

    PostalCode           Borough             Neighbourhood
0          M3A        North York                 Parkwoods
1          M4A        North York          Victoria Village
2          M5A  Downtown Toronto              Harbourfront
3          M6A        North York          Lawrence Heights
4          M6A        North York            Lawrence Manor
..         ...               ...                       ...
205        M8Z         Etobicoke  Kingsway Park South West
206        M8Z         Etobicoke                 Mimico NW
207        M8Z         Etobicoke        The Queensway West
208        M8Z         Etobicoke     Royal York South West
209        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [90]:
df=df.groupby(['PostalCode','Borough'])['Neighbourhood'].apply(lambda x : ','.join(x)).reset_index()

In [91]:
df.shape

(103, 3)